body {
  color: #fff;
  background: #fff;
}

h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.welcome-card {
  width: 370px;
  height: 539px;
  padding: 40px;
  border-radius: 20px;
  opacity: 0px;
  margin-top: 20px;
  background: var(--Shades-Primary-100, #13191f);
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.main-heading {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.subheading {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--Shades-Primary-800, #59616a);
}

.otp-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  margin: 0 auto;
  gap: 20px;
}

.otp-input {
  text-align: center;
  font-size: 16px;
  width: 77px;
  height: 71px;
  border-radius: 10px;
  background: var(--Shades-Primary-100, #13191f);
  color: var(--Shades-Primary-1200, #bbc1cd);

  border: 1px solid #59616a; /* Specify border color */
  outline: none;
}

.social-login-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
  gap: 10px;
}

.social-login-button {
  cursor: pointer;
  opacity: 0px;
  flex: 1;
  text-align: center;
  width: 85px;
  height: 50px;
  padding: 15px 0px 15px 0px;
  gap: 0px;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid var(--Shades-Primary-500, #363e46);
  background: var(--Shades-Primary-100, #13191f);
}

.social-login-button img {
  top: 15px;
  left: 35px;
  gap: 0px;
  opacity: 0px;
}

.social-login-button:hover {
  opacity: 0.9;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 20px 0px;
  gap: 10px;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  border: 1px solid var(--Shades-Primary-400, #2c343c);
}

.divider-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2c343c;
}

.input-field {
  width: 370px;
  height: 20px;
  padding: 16px;
  gap: 0px;
  border-radius: 10px;
  background: var(--Shades-Primary-100, #13191f);
  border: 1px solid var(--Shades-Primary-500, #363e46);
  color: var(--Shades-Primary-1200, #bbc1cd);
}

.input-field::placeholder {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--Shades-Primary-1200, #bbc1cd);
}

.btn-continue {
  cursor: pointer;
  margin-top: 20px;
  width: 370px;
  height: 50px;
  padding: 3px 12px 3px 12px;
  border-radius: 10px;
  background: var(--Shades-Primary-300, #232a33);
  border: 1px solid var(--Shades-Primary-500, #363e46);
  color: var(--Shades-Primary-5000, #e3e6ea);

  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.btn-create {
  cursor: pointer;
  margin-top: 20px;
  width: 370px;
  height: 50px;
  padding: 3px 12px 3px 12px;
  border-radius: 10px;
  color: var(--Shades-Primary-5000, #e3e6ea);

  box-shadow: 0px 0px 30px 0px #ff009540;
  border: 1px solid var(--Shades-Primary-500, #363e46);

  background: linear-gradient(
    311.62deg,
    #c800ff -9.93%,
    #ff2c9b 25.49%,
    #ff7b00 71.36%,
    #ff8504 92.84%,
    #ffd363 106.19%
  );

  /* Ensure base color is placed correctly behind gradient */
  background-color: var(--Shades-Primary-5000, #e3e6ea);

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer-text {
  margin-top: 40px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--Shades-Primary-800, #59616a);
}

a {
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--Shades-Primary-1200, #bbc1cd);
}

.top-15 {
  margin-top: 15px;
}

.top-minus-18 {
  margin-top: -18px;
}

.bottom-25 {
  margin-bottom: 25px;
}

.top-20 {
  margin-top: 20px;
}

.bottom-10 {
  margin-bottom: 10px;
}
